.header {
    background: #000;
    height: 80px;
    /* width: 100%; */
}

.header-inner {
    padding: 0 15px;
    max-width: 1700px;
    height: 80px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.a {
    display: flex;
    align-items: center;
    justify-content: left;
}

.header-utilities nav {
    width: 18%;
}

.search-txt {
    width: 560px;
    line-height: 50px;
    padding-left: 20px;
    margin-left: 60px;
    font-size: 24px;
    border-radius: 10px;
}

.nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    height: 20px;
    width: 40px;
}

.nav-btn {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
}

.login-btn-submit {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 16px;
    width: 100px;
}

.search-btn,
.listing-btn {
    background-color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 50px;
    border-radius: 10px;
}

@media (max-width:1219px) {
    .header {
        background: #000;
        height: 140px;
        /* width: 100%; */
    }

    .header-utilities {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (max-width:1020px) {
    .search-txt {
        width: 300px;
    }
}