.item__content {
    display: flex;
    justify-content: center;
    padding: 80px;
}

.item__img {
    width: 400px;
    height: 400px;
    margin-right: 100px;
}

.detail__content {
    max-width: 530px;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin-right: 40px;
}

p {
    margin: 0;
}

.detail__group {
    margin-bottom: 30px;
}

.price {
    font-size: 30px;
}

.tax {
    font-size: 20px;
    margin-left: 10px;
}

.icon {
    display: flex;
    justify-content: left;
}

.like__group {
    width: fit-content;
    text-align: center;
}

.like__icon,
.unlike__icon {
    margin: 10px 10px;
    width: 25px;
    height: 25px;
}

.like__num {
    font-size: 12px;
}

.comment__group {
    width: fit-content;
    text-align: center;
}

.comment__icon {
    margin: 10px 10px;
    width: 25px;
    height: 25px;
}

.comment__num {
    font-size: 12px;
}

.btn {
    padding: 5px 200px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #FF5555;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
}

.purchase {
    font-size: 22px;
}

.category__group {
    display: flex;
    justify-content: left;
    align-items: center;
}

.category_content {
    margin-right: 20px;
    padding: 0 15px;
    background-color: #E5E5E5;
    border-radius: 10px;
}

.condition__group {
    display: flex;
    justify-content: left;
    align-items: center;
}

.condition_content {
    margin-left: 20px;
}

.comment__list {
    margin: 10px 0;
}

.comment__list__name {
    font-weight: bold;
    margin-bottom: 10px;
}

.comment__list__content {
    background-color: #E5E5E5;
    border-radius: 5px;
    padding: 10px;
}

.comment-txt {
    width: 530px;
    height: 150px;
    line-height: 20px;
    padding-left: 10px;
}

.comment {
    font-size: 15px;
    margin-top: 20px;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}