div {
    margin: 0;
}

.img-btn {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.img-user {
    display: flex;
    justify-content: center;
    padding: 60px;
    align-items: center;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 200px;
}

.user-information {
    margin-left: 60px;
}

.user-name {
    font-size: 25px;
    font-weight: bold;
    padding-left: 30px;
}

.profile-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit {
    color: #FF5555;
    border: 1px solid #FF5555;
    border-radius: 3px;
    background: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 320px;
    padding: 5px 20px;
}

.heading {
    border-bottom: #5F5F5F solid 2px;
    display: flex;
    justify-content: left;
}

.form-exhibited {
    padding: 40px 0 5px 90px;
}

.choice {
    color: red;
}

.not_choice {
    color: black;
}

.form-purchased {
    padding: 40px 0 5px 20px;
}

.form-transaction {
    padding: 40px 0 5px 20px;
    position: relative;
}

.unread-sum {
    position: absolute;
    background-color: #ff0000;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    width: 35px;
    height: 35px;
    text-align: center;
    align-items: center;
    top: 69%;
    left: 110%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    border-radius: 130px;
}

.btn {
    margin-left: 50px;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 20px;
}

.items {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 400px 400px 400px 400px;
    justify-content: center;
}

.item-list {
    margin: 100px 60px 0;
}

.item-img {
    width: 300px;
    height: 300px;
}

.item-list {
    position: relative;
}

.unread {
    position: absolute;
    background-color: #ff0000;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    text-align: center;
    top: 7%;
    left: 7%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    border-radius: 30px;
}

@media (max-width:1650px) {
    .items {
        grid-template-columns: 400px 400px 400px;
    }

    .btn {
        font-size: 25px;
    }
}

@media (max-width:1200px) {
    .edit {
        margin-left: 120px;
    }

    .btn {
        font-size: 30px;
    }

    .items {
        grid-template-columns: 400px 400px;
    }
}

@media (max-width:850px) {
    .edit {
        margin-left: 20px;
    }

    .profile {
        width: 200px;
        height: 200px;
    }
}