h3 {
    margin: 0;
}

.heading {
    margin: 80px 0 40px 0;
    text-align: center;
}

.form-sell {
    margin: 0 auto;
    width: 45%;
    text-align: center;
}

.form-group {
    margin-bottom: 5px;
}

.form-title {
    text-align: left;
}

.form-span {
    font-weight: bold;
}

.form-input-btn {
    border: 1px dotted black;
    width: 100%;
    padding: 50px 0;
}

.form-error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.subheading {
    border-bottom: 1px solid black;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.img {
    width: 300px;
    height: 300px;
}

.category {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
    justify-content: center;
    gap: 10px;
}

.category-checkbox {
    display: none;
}

input[type="checkbox"]:checked+label {
    background-color: #FF5555;
    color: #fff;
}

.category-label {
    display: block;
    width: fit-content;
    border: 1px solid #FF5555;
    color: #FF5555;
    /* margin: 5px; */
    font-size: 12px;
    padding: 5px 15px;
    text-align: center;
    line-height: 15px;
    border-radius: 50px;
    float: left;
}

.form-txt {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.condition-select {
    width: 100%;
    padding: 5px 200px 5px 0;
}

.description {
    width: 100%;
    height: 100px;
    line-height: 20px;
    padding-left: 10px;
}

.list-btn {
    padding: 10px;
    margin-top: 50px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #FF5555;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.form-btn {
    margin-top: 20px;
}

.img-btn {
    max-width: 300px;
    max-height: 300px;
}

@media (max-width:850px) {
    h2 {
        font-size: 35px;
    }

    .form-sell {
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }

    .form-span {
        font-size: 25px;
    }

    .form-txt {
        font-size: 20px;
        padding: 15px;
        height: 45px;
    }

    .condition-select {
        font-size: 20px;
        /* padding: 15px; */
        height: 45px;
    }

    .form-error {
        height: 50px;
        font-size: 25px;
    }

    .subheading {
        font-size: 28px;
    }

    .subheading {
        border-bottom: 1px solid black;
        text-align: left;
        margin-bottom: 20px;
        padding-bottom: 5px;
    }

    .list-btn {
        margin-top: 50px;
        width: 100%;
        font-weight: bold;
        font-size: 25px;
        line-height: 1;
        padding: 10px 0;
    }

    .img-btn {
        max-width: 400px;
        max-height: 400px;
    }
}