p {
    margin: 0;
}


.transaction-contents {
    display: flex;
    justify-content: space-between;
    height: 92vh
}

.side-bar {
    background-color: #868686;
    width: 20%;
    height: 92vh
}

.title {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    height: 10vh;
}

.side-row {
    background-color: #eeefec;
    margin: 0 auto 40px;
    width: 80%;
    border-radius: 10px;
}

.side-a {
    display: block;
    text-decoration: none;
    align-items: center;
    text-align: center;
    color: #000;
    font-size: 20px;
    padding: 15px 0;
}

.main-contents {
    width: 80%;
}

.user-information {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    height: 10vh;
    align-items: center;
    padding: 0 20px;
}

.user-contents {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile {
    width: 80px;
    height: 80px;
    border-radius: 200px;
}

.name {
    font-size: 30px;
    font-weight: bold;
}

.transaction-btn {
    padding: 10px;
    width: 185px;
    border: none;
    border-radius: 40px;
    background: #ff8282;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.item-information {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #000;
    height: 20vh;
    padding: 20px;
}

.item-img {
    height: 100%;
    width: auto;
}

.item-text {
    padding: 10px 20px;
}

.item-name {
    font-size: 50px;
    font-weight: bold;
}

.item-price {
    font-size: 30px;
}

.chat {
    height: 52vh;
    padding: 20px;
    overflow-y: scroll;
    ;
}

.chat-list {
    margin: 10px 0;
}

.right {}

.img-name {
    /* 相手側のcss。消さないように */
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 200px;
}


.chat-name {
    font-weight: bold;
    margin-left: 10px;
}

.chat-content {
    width: 40%;
    background-color: #E5E5E5;
    border-radius: 5px;
    padding: 10px;
}

.chat-img{
    height: 100px;
    width: auto;
    margin-bottom: 10px;
}

.my-btn {
    display: flex;
    justify-content: left;
}

.edit,
.delete {
    padding: 5px 10px 0;
    border: none;
    background: #fff;
    cursor: pointer;
    text-shadow: 0 2px 4px rgb(0, 0, 0, 0.3);
}

.form-chat {
    height: 5vh;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
}

.form-error {
    height: 20px;
    color: #ff0000;
    text-align: left;
    padding-left: 25px;
    margin-bottom: 5px;
}

.chat-txt {
    width: 75%;
    height: 80%;
    padding-left: 10px;
}

.chat-btn {
    width: 12%;
    height: 80%;
    margin: 0 20px;
    color: #FF5555;
    border: 2px solid #FF5555;
    border-radius: 5px;
    background: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.submit {
    height: 80%;
    width: auto;
}