p {
    margin: 0;
    font-weight: bold;
    font-size: 25px;
}

.verify-content {
    margin: 200px auto;
    padding: 30px 15px;
    max-width: 1230px;
    width: 70%;
    text-align: center;
}

span {
    display: inline-block;
}

.verify-btn {
    text-decoration: none;
    background: none;
    color: #0173cc;
    width: fit-content;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: 60px;
}

.search-txt {
    display: none;
}

.search-btn {
    display: none;
}

nav {
    display: none;
}

@media (max-width:850px) {
    span {
        font-size: 30px;
    }

    .verify-btn {
        font-size: 20px;
    }
}