p {
    margin: 0;
    font-weight: bold;
    font-size: 25px;
}

.verify-content {
    margin: 200px auto;
    padding: 30px 15px;
    max-width: 1230px;
    width: 70%;
    text-align: center;
}

.verify-button {
    text-decoration: none;
    background: none;
    color: #0173cc;
    width: fit-content;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-top: 60px;
}